nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
}

img {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
}

nav a {
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #aaaaaa;
    text-decoration: none;
}